.form {
    .field {
        input {
            border: 1px solid #dfe1e3;
            border-radius: 4px;
            &:focus {
                border-color: #4f4f4f;
            }
            padding: .5em .7em;
            width: 100%;
        }
        label {
            display: block;
            font-size: .75em;
            color: #B0A6BD;

        }
        +.field {
            margin-top: 1em;
        }
    }
}



