header {
    color: #383838;
    font-size: 1.14em;
    padding: 0 var(--side-padding);
    > nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    display: inline-flex;
    font-style: normal;
    font-weight: 400;
    // margin: 1em 10em 0;
    // box-shadow: 0px 2px 10px rgba(185, 166, 189, 0.1);
    .main {
        font-weight: 500;
        font-size: 1.7em; 
        .pink {
            color:#F5A3B7;
        }   
    }
    .link_pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .link_icon {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
    }
    .item {
        text-decoration: none;
        padding: 1em;
        &:hover {
            color: #F5A3B7;
        }
    }

    &.icon {
        >.item {
            font-size: .85em;
            >.image {
                display: block;
                margin: 0 auto;
                color: inherit;
                width: 24px;
                margin-bottom: .2em;
            }
        }
    }
}
