.main {
    padding: 0 var(--side-padding);
    padding-top: 1em;
    padding-bottom: 3em;
}

.grid {
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 1em;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

